/* ----------------------------------------------------------------------------- */
/* ################################ Resets ##################################### */
/* ----------------------------------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body { height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

#nav ul, #nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

.ie7 img { -ms-interpolation-mode: bicubic; }
strong { font-weight: bold; }

a { color: #477DAF; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
a.whitelink { color: #ccc; }
a.whitelink:hover { color: #fff; text-decoration: none; }
a img { border: 0; }
input,select,textarea { font-size: 12px; font-family: Arial, Helvetica, sans-serif; outline: none; }
small, .small { font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h1, h2, h3, h4, h5 {
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    letter-spacing: 0px;
    color: #000;
    font-weight: normal;
    margin: 0 0 0.5em 0;
}

p { margin: 0 0 1.2em 0; }

body {
    background: #F0F0ED;
    font: 13px Helvetica, Tahoma, Arial, sans-serif;
    color: #333;
}

p {
    color: #333;
}



/* ----------------------------------------------------------------------------- */
/* ############################# Page Layout ################################### */
/* ----------------------------------------------------------------------------- */
.wrapper {
    width: 600px;
    margin: 7em auto;
}

div.wbox {
    background-clip: padding-box;
    background-color: #F9F9F9;
    background-image: -moz-linear-gradient(center top , #FAFAFA, #F9F9F9);
    border: 1px solid #D9D9D9;
    padding: 10px 10px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    box-shadow: 0 0 0 3px #eaeaea;
    -webkit-box-shadow: 0 0 0 3px #eaeaea;
    -moz-box-shadow: 0 0 0 3px #eaeaea;
}

/* ----------------------------------------------------------------------------- */
/* ################################# Misc ###################################### */
/* ----------------------------------------------------------------------------- */
.clear {
    display: block;
    clear: both;
    height: 0px !important;
    width: 0px !important;
}

.tright { text-align: right; }
.tleft { text-align: left; }
.tcenter { text-align: center; }

.left { float: left; }
.right { float: right; }
.mid { text-align: center; }

.small { width: 33%; }
.medium { width: 66%; }
.large { width: 98%; }

.al {
    text-align: left;
    padding-left: 1em;
}

.sep {
    margin: 1em 0 4em 0;
    border-bottom: 1px solid #fff;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
}

.hide { display: none; }
